@if(isVisible) {
    <div class="fixed-backdrop-full bg-black-transparent-dark z-40">
        <div class="relative w-[320px] h-full bg-body border-r-2 border-pink">
            <div class="relative h-full flex flex-col">
                <header class="flex-center-between p-4 pl-6 flex-[1_1_10%]">
                    <p class="text-lg text-shadow-chromatic-glitch">Menu</p>
                    <button class="text-lg text-shadow-chromatic-glitch" (click)="onClickHideMenu()">
                        <i class="fa-solid fa-xmark" aria-hidden="true"></i>
                    </button>
                </header>
                <div class="p-4 pl-6 flex-[1_1_80%]">
                    <ng-content></ng-content>
                </div>
                <footer class="p-4 pl-6 flex-[1_1_10%]"></footer>
            </div>
        </div>
    </div>
}