<app-modal id="modal-user-account" classNames="modal-user-account" headerTitle="<i class='fa-regular fa-user text-sm' aria-hidden='true'></i> Compte de {{ userName }}">
    <div class="custom-content bg-grey p-8">
      <p class="text-center text-sm">
        Bienvenue dans votre espace personnel {{ userName }}.
      </p>
      <p class="text-center text-sm">
        Vous êtes actuellement connecté(e), si vous le souhaitez vous
        pouvez vous déconnecter en cliquant sur le bouton ci-dessous.
      </p>
      <ul class="list-none">
        <li class="flex justify-center">
          <button class="btn retro-windows-border-activable p-2 px-8 text-black font-medium mt-5" (click)="onClickLogout()" aria-label="Déconnexion" title="Se déconnecter du compte">
            Déconnexion
          </button>
        </li>
      </ul>
    </div>
</app-modal>  